/*布局*/
.wrap{width: 1170px;margin: 0 auto;word-spacing: -4px;}
.side,.mn{display: inline-block;*display: inline;vertical-align: top;*zoom:1;}
/*按钮*/

.btn {
    font-size: 15px;
    text-align: center;
    color: #FFF;
    border: 0;
    cursor: pointer
}

.btn:active:focus,.btn:focus {
    outline: thin dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:focus,.btn:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}




.icon {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background: url(../images/icon.png) no-repeat
}

.icon-grey {
    background-position: 0 -87px
}

.ipt,
.txta {
    padding: 7px;
    border: 1px solid #ccc
}

.txta {
    padding: 7px 0 0 7px
}

.it-box {
    position: relative
}

.it-ins {
    position: absolute;
    top: 0;
    left: 0;
    color: #999
}

.ipt-focus {
    border: 1px solid #58afff
}

.thumbnail-r {
    float: right
}

.caption-row {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top
}
/*表单*/

/*图文*/

/*选项卡*/

/*评分*/